body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
    text-align: center;
}

.profile-container {
    text-align: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

h1 {
    margin: 0;
    font-size: 2.2em;
}

p {
    margin: 10px 0;
}

section {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 8px;
}

.social-media {
    margin-top: 20px;
}

.icon {
    color: #333;
    margin: 0 10px;
    font-size: 24px;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background: #77aaff;
}
